{% include "blocks/admin_top.html" %}
<div class="row text-start">
  {% include "blocks/navigation.html" %}

  <div class="col-9 px-md-4">
    <div class="row border-bottom">
      <h1 class="h2">{{pageName}}</h1>
    </div>
    {% if errors: %}
    {% include "blocks/error_modal.html" %}
    {% endif %}
    <div class="row my-4 mb-md-0">
      <div class="col">
        <form method="POST" class="d-grid gap-3">
            <div class="row">
              <div class="col">
                <label>Name</label>
                <input type="text" class="form-control" name="name" placeholder="Venue Name"
                  {% if form_post.name: %} value="{{ form_post.name }}" {% endif %} required>
              </div>
            </div>
            
            <div class="row">
              <div class="col">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" name="address" placeholder="Address" 
                  {% if form_post.address: %} value="{{ form_post.address }}" {% endif %} required>
              </div>

              <div class="col">
                <label for="secondAddress">Second Address</label>
                <input type="text" class="form-control" id="secondAddress" name="address2"
                  placeholder="Second Address" {% if form_post.address2: %} value="{{ form_post.address2 }}" {% endif %}>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" name="city" placeholder="City" 
                  {% if form_post.city: %} value="{{ form_post.city }}" {% endif %} required>
              </div>

              <div class="col-3">
                <label for="state" class="form-label mb-0">State</label>
                <select class="form-select" name="state" id="state" required>
                  <option {% if not form_post or form_post.state: %} selected {% endif %} value="">Choose...</option>
                  {% for us_state in states: %}
                  <option value="{{ us_state }}" {% if form_post and form_post.state and form_post.state==us_state: %} selected {% endif %}> {{us_state}}
                  </option>
                  {% endfor %}
                </select>
              </div>

              <div class="col">
                <label for="zipCode">Zip Code</label>
                <input type="text" class="form-control" id="zipCode" name="zip" placeholder="Zip Code" 
                  {% if form_post.zip: %} value="{{ form_post.zip }}" {% endif %} required>
              </div>
            </div>


            <div class="row">
              <div class="col">
                <label for="phoneNumber">Phone Number</label>
                <input type="phone" class="form-control" id="phoneNumber" name="phone" placeholder="Phone Number"
                  {% if form_post.phone: %} value="{{ form_post.phone }}" {% endif %} >
              </div>

              <div class="col">
                <label for="website">Website</label>
                <input type="text" class="form-control" id="website" name="website" placeholder="Website" 
                  {% if form_post.website: %} value="{{ form_post.website }}" {% endif %} >
              </div>
            </div>

            <div class="row">
              <div class="col">
                <label for="boothCapacity">Booth Capacity</label>
                <input type="number" class="form-control" id="boothCapacity" name="booths" placeholder="Booth Capacity #"
                  {% if form_post.booths: %} value="{{ form_post.booths }}" {% endif %} >
              </div>

              <div class="col">
                <label for="conferenceRooms">Conference Rooms</label>
                <input type="text" class="form-control" id="conferenceRooms" name="conference_rooms" placeholder="Conference Rooms #" 
                  {% if form_post.conference_rooms: %} value="{{ form_post.conference_rooms }}" {% endif %} >
              </div>
            </div>

            {% if pageName.startswith('Edit ') %}
            <div class="row">
              <div class="col">
                <label for="isActive">Enabled</label>
                <select class="form-select" name="is_active" id="isActive" required>
                  <option value="1" {% if form_post.is_active==1: %} selected {% endif %}>Yes</option>
                  <option value="0" {% if form_post.is_active==0: %} selected {% endif %}>No</option>
                </select>
              </div>

              <input type="hidden" name="venue_guid" value="{{ form_post.venue_guid }}" />
            </div>
            {% endif %}
            
            <div class="row">
              <div class="col-2">
                <button class="btn btn-lg btn-primary" type="submit">Save</button>
              </div>
              <div class="col-2">
                <a onclick="history.back()" class="btn btn-lg btn-info">Cancel</a>
              </div>
              {% if pageName.startswith('Edit ') %}
              <div class="col-2">
                <a href="/venue/delete/{{ form_post.venue_guid }}" class="btn btn-lg btn-danger">Delete</a>
              </div>
              {% endif %}
            </div>
          </div>
        </form>
    </div>
  </div>
</div>
{% include "blocks/admin_bottom.html" %}
