{% include "blocks/admin_top.html" %}
<div class="row">
  {% include "blocks/navigation.html" %}

  <div class="col-9 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
      <h1 class="h2">{{pageName}}</h1>
    </div>

    {% if errors: %}
    {% include "blocks/error_modal.html" %}
    {% endif %}

    <div class="mb-2 mb-md-0">
      <div class="col-12">
        <form method="POST">

          <div class="text-start">

            <div class="row">
              <div class="col">
                <label for="floatingInput">Email address</label>
                <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com"
                  {% if form_post.email: %} value="{{ form_post.email }}" {% endif %} required
                  oninvalid="setCustomValidity('Please enter a valid email address.')">
              </div>

              <div class="col">
                <label for="floatingPassword">Password</label>
                <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
              </div>
            </div>


            <div class="row pt-3">
              <div class="col">
                <label for="prefix">Prefix</label>
                <input type="text" class="form-control" id="prefix" name="prefix_name" placeholder="Prefix" 
                  {% if form_post.prefix_name: %} value="{{ form_post.prefix_name }}" {% endif %}>
              </div>

              <div class="col">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" name="first_name" placeholder="First Name" 
                  {% if form_post.first_name: %} value="{{ form_post.first_name }}" {% endif %} required>
              </div>

              <div class="col">
                <label for="middleInitial">Middle Initial</label>
                <input type="text" class="form-control" id="middleInitial" name="middle_name"
                  placeholder="Middle Initial" {% if form_post.middle_name: %} value="{{ form_post.middle_name }}" {% endif %}>
              </div>

              <div class="col">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" name="last_name" placeholder="Last Name" 
                  {% if form_post.last_name: %} value="{{ form_post.last_name }}" {% endif %} required>
              </div>

              <div class="col">
                <label for="suffix">Suffix</label>
                <input type="text" class="form-control" id="suffix" name="suffix_name" placeholder="Suffix" 
                  {% if form_post.suffix_name: %} value="{{ form_post.suffix_name }}" {% endif %}>
              </div>
            </div>


            <div class="row pt-3">
              <div class="col">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" name="address" placeholder="Address" 
                  {% if form_post.address: %} value="{{ form_post.address }}" {% endif %} required>
              </div>

              <div class="col">
                <label for="secondAddress">Second Address</label>
                <input type="text" class="form-control" id="secondAddress" name="address2"
                  placeholder="Second Address" {% if form_post.address2: %} value="{{ form_post.address2 }}" {% endif %}>
              </div>

              <div class="col">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" name="city" placeholder="City" 
                  {% if form_post.city: %} value="{{ form_post.city }}" {% endif %} required>
              </div>

              <div class="col-3">
                <label for="state" class="form-label mb-0">State</label>
                <select class="form-select" name="state" id="state" required>
                  <option {% if not form_post or form_post.state: %} selected {% endif %} value="">Choose...</option>
                  {% for us_state in states: %}
                  <option value="{{ us_state }}" {% if form_post and form_post.state and form_post.state==us_state: %} selected {% endif %}> {{us_state}}
                  </option>
                  {% endfor %}
                </select>
              </div>

              <div class="col">
                <label for="zipCode">Zip Code</label>
                <input type="text" class="form-control" id="zipCode" name="zip" placeholder="Zip Code" 
                  {% if form_post.zip: %} value="{{ form_post.zip }}" {% endif %} required>
              </div>
            </div>


            <div class="row pt-3">
              <div class="col">
                <label for="phoneNumber">Phone Number</label>
                <input type="phone" class="form-control" id="phoneNumber" name="phone" placeholder="Phone Number"
                  {% if form_post.phone: %} value="{{ form_post.phone }}" {% endif %} >
              </div>

              <div class="col">
                <label for="website">Website</label>
                <input type="text" class="form-control" id="website" name="website" placeholder="Website" 
                  {% if form_post.website: %} value="{{ form_post.website }}" {% endif %} >
              </div>
            </div>


            <div class="row py-3">
              <div class="col">
                <label for="userRole">User Role</label>
                <select class="form-select" name="user_roles" id="userRole" required>
                  <option {% if not form_post.user_roles: %} selected {% endif %} value="">Choose...</option>
                  {% for role in roles: %}
                  <option value="{{ role }}" {% if form_post.user_roles and form_post.user_roles==role: %} selected {% endif %}> {{role}}
                  </option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <label for="userRole">Is Active</label>
            <select class="form-select" name="is_active" id="is_active" required>
              <option value='1' {% if form_post.is_active == '1' %} selected {% endif %}>Yes</option>
              <option value='0' {% if form_post.is_active == '0' %} selected {% endif %}>No</option>
            </select>
            <div class="row pt-3"></div>
          </div>

          {% if pageName == 'Edit User': %}
            <input type="hidden" name="user_guid" value="{{ form_post.user_guid}}">
          {% endif %}

          <button class="w-100 btn btn-lg btn-primary" type="submit">Save</button>
          <div class="row pt-3"></div>
          <button type="button" id="DeleteUser" class="w-100 btn btn-secondary btn-lg">Delete</button>
        </form>
      </div>
    </div>
    </main>
  </div>
</div>

<script type="text/javascript">
  
  var currentURL = window.location;

  const del_button = document.getElementById('DeleteUser');
  del_button.addEventListener('click', function(){
    delUrl = '//' + currentURL.hostname + ':' + currentURL.port + '/users/delete/{{ form_post.user_guid}}';
    console.log(delUrl);
    window.location.href = delUrl;
  });
</script>

{% include "blocks/admin_bottom.html" %}