Jinja2==3.1.2
urllib3==2.0.6
feedparser==6.0.10
certifi==2023.7.22
#fastapi==0.103.1
#uvicorn==0.23.2
sqlalchemy==2.0.20
pydantic==2.3.0
requests==2.31.0
mysql-connector-python==8.1
supervisor==4.2.2
webob
parse
argon2-cffi