Jinja2==3.1.2
urllib3==2.0.7
feedparser==6.0.10
certifi==2023.7.22
#fastapi==0.103.1
#uvicorn==0.23.2
sqlalchemy==2.0.22
pydantic==2.4.2
requests==2.31.0
mysql-connector-python==8.1
supervisor==4.2.5
webob==1.8.7
parse==1.19.1
argon2-cffi==23.1.0
gunicorn
flake8
pytest
pytest-cov
coverage
