{% include "blocks/admin_top.html" %}
<div class="row text-start">
  {% include "blocks/navigation.html" %}

  <div class="col-9 px-md-4">
    <div class="row border-bottom">
      <h1 class="h2">{{pageName}}</h1>
    </div>
    {% if errors: %}
    {% include "blocks/error_modal.html" %}
    {% endif %}
    <div class="row my-4 mb-md-0">
      <div class="col">
        <form method="POST" class="d-grid gap-3">
            {% if pageName.startswith('Edit ') %}
            <div class="row">
              <input type="hidden" name="speech_guid" value="{{ form_post.speech_guid }}" />
            </div>
            {% endif %}
            
            <div class="row">
              <div class="col-2">
                <button class="btn btn-lg btn-primary" type="submit">Save</button>
              </div>
              <div class="col-2">
                <a onclick="history.back()" class="btn btn-lg btn-info">Cancel</a>
              </div>
              {% if pageName.startswith('Edit ') %}
              <div class="col-2">
                <a href="/speeches/delete/{{ form_post.speech_guid }}" class="btn btn-lg btn-danger">Delete</a>
              </div>
              {% endif %}
            </div>
          </div>
        </form>
    </div>
  </div>
</div>
{% include "blocks/admin_bottom.html" %}
