{% include "blocks/admin_top.html" %}
<div class="row">
  <!--{% include "blocks/navigation.html" %} -->
  {% include "blocks/nav/ntss_admin.html" %}

  <div class="col-9 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
      <h1 class="h2">{{pageName}}</h1>
    </div>
    {% if errors: %}
    {% include "blocks/error_modal.html" %}
    {% endif %}
    <div class="mb-2 mb-md-0">
      <div class="col-12">
        <form method="POST">

          <div class="text-start">

            <div class="row">
              <div class="col">
                <label for="floatingInput">Email address</label>
                <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com"
                  {% if form_post.email: %} value="{{ form_post.email }}" {% endif %} required
                  oninvalid="setCustomValidity('Please enter a valid email address.')">
              </div>

              <div class="col">
                <label for="floatingPassword">Password</label>
                <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password"
                  {% if form_post.password: %} value="{{ form_post.password }}" {% endif %} required>
              </div>
            </div>


            <div class="row pt-3">
              <div class="col">
                <label for="prefix">Prefix</label>
                <input type="text" class="form-control" id="prefix" name="prefix" placeholder="Prefix" 
                  {% if form_post.prefix: %} value="{{ form_post.prefix }}" {% endif %}>
              </div>

              <div class="col">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" 
                  {% if form_post.firstName: %} value="{{ form_post.firstName }}" {% endif %} required>
              </div>

              <div class="col">
                <label for="middleInitial">Middle Initial</label>
                <input type="text" class="form-control" id="middleInitial" name="middleInitial"
                  placeholder="Middle Initial" {% if form_post.middleInitial: %} value="{{ form_post.middleInitial }}" {% endif %}>
              </div>

              <div class="col">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" 
                  {% if form_post.lastName: %} value="{{ form_post.lastName }}" {% endif %} required>
              </div>

              <div class="col">
                <label for="suffix">Suffix</label>
                <input type="text" class="form-control" id="suffix" name="suffix" placeholder="Suffix" 
                  {% if form_post.suffix: %} value="{{ form_post.suffix }}" {% endif %}>
              </div>
            </div>


            <div class="row pt-3">
              <div class="col">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" name="address" placeholder="Address" 
                  {% if form_post.address: %} value="{{ form_post.address }}" {% endif %} required>
              </div>

              <div class="col">
                <label for="secondAddress">Second Address</label>
                <input type="text" class="form-control" id="secondAddress" name="secondAddress"
                  placeholder="Second Address" {% if form_post.secondAddress: %} value="{{ form_post.secondAddress }}" {% endif %}>
              </div>

              <div class="col">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" name="city" placeholder="City" 
                  {% if form_post.city: %} value="{{ form_post.city }}" {% endif %} required>
              </div>

              <div class="col-3">
                <label for="state" class="form-label mb-0">State</label>
                <select class="form-select" name="state" id="state" required>
                  <option {% if not form_post or form_post.state: %} selected {% endif %} value="">Choose...</option>
                  {% for us_state in states: %}
                  <option value="{{ us_state }}" {% if form_post and form_post.state and form_post.state==us_state: %} selected {% endif %}> {{us_state}}
                  </option>
                  {% endfor %}
                </select>
              </div>

              <div class="col">
                <label for="zipCode">Zip Code</label>
                <input type="text" class="form-control" id="zipCode" name="zipCode" placeholder="Zip Code" 
                  {% if form_post.zipCode: %} value="{{ form_post.zipCode }}" {% endif %} required>
              </div>
            </div>


            <div class="row pt-3">
              <div class="col">
                <label for="phoneNumber">Phone Number</label>
                <input type="phone" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Phone Number"
                  {% if form_post.phoneNumber: %} value="{{ form_post.phoneNumber }}" {% endif %} >
              </div>

              <div class="col">
                <label for="website">Website</label>
                <input type="text" class="form-control" id="website" name="website" placeholder="Website" 
                  {% if form_post.website: %} value="{{ form_post.website }}" {% endif %} >
              </div>
            </div>


            <div class="row py-3">
              <div class="col">
                <label for="userRole">User Role</label>
                <select class="form-select" name="user_role" id="user_role" required>
                  <option {% if not form_post.user_role: %} selected {% endif %} value="">Choose...</option>
                  {% for role in roles: %}
                  <option value="{{ role }}" {% if form_post.user_role and form_post.user_role==role: %} selected {% endif %}> {{role}}
                  </option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Save</button>
        </form>
      </div>
    </div>
    </main>
  </div>
</div>
{% include "blocks/admin_bottom.html" %}