{% include "blocks/header.html" %}
<body class="text-center">
  <main class="form-signin">
    {% if errors: %}
    {% include "blocks/error_modal.html" %}
    {% endif %}
    <form method="POST">
      <h1 class="h3 mb-3 fw-normal">{{ platformName }}</h1>
      <h2 class="h3 mb-3 fw-normal">Enter your email</h2>
      <div class="form-floating">
        <input type="email" class="form-control" id="email-input" name="email" placeholder="name@example.com" {% if email: %} value="{{ email }}" {% endif %} required>
        <label for="email-input">Email address</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Reset Password</button>
      <a href="/">Login</a>
    </form>
  </main>
</body>
{% include "blocks/footer.html" %}