{% include "blocks/header.html" %}
<body class="text-center">
  <main class="form-signin">
    {% if errors: %}
    {% include "blocks/error_modal.html" %}
    {% endif %}
    <form method="POST">
      <h1 class="h3 mb-3 fw-normal">{{ platformName }}</h1>
      <h2 class="h3 mb-3 fw-normal">Please sign in</h2>
      <div class="form-floating">
        <input type="email"  onkeypress="setCustomValidity('')" class="form-control" id="floatingInput" name="email" placeholder="name@example.com" {% if email: %} value="{{ email }}" {% endif %} required oninvalid="setCustomValidity('Please enter a valid email address.')">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password"  {% if password: %} value="{{ password }}" {% endif %} required>
        <label for="floatingPassword">Password</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
      <a href="/forgot_password">Forgot Password</a>
    </form>
    <br />
    <a href="/register" class="w-100 btn btn-lg btn-primary">Register</a>
  </main>
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
      const emailInput = document.getElementById('floatingInput');
      
      if (emailInput) {
        emailInput.addEventListener('input', function(event) {
          if (event.target.validity.valid) {
            event.target.setCustomValidity('');
          }
        });
      }
    });
  </script>
</body>
{% include "blocks/footer.html" %}