<div class="col-3">
  <div class="left-nav d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 100%;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <span class="fs-4">Navigation</span>
    </a>
    <hr>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
          data-bs-target="#home-collapse" aria-expanded="false">
          <span class="material-symbols-outlined">home</span>
          Home
        </button>
        <div class="collapse" id="home-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li>
              <a href="/dashboard" class="link-dark rounded">
                <span class="material-symbols-outlined">
                  dashboard
                </span>
                Dashboard
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
          data-bs-target="#dashboard-collapse" aria-expanded="false">
          <span class="material-symbols-outlined">
            speaker_notes
            </span>
           Speech
        </button>
        <div class="collapse" id="dashboard-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li>
              <a href="/speeches/add" class="link-dark rounded">
                <span class="material-symbols-outlined">
                  add_comment
                  </span>
                Add Speech Proposals
              </a>
            </li>
            <li>
              <a href="/speeches/list" class="link-dark rounded">
                <span class="material-symbols-outlined">
                  forum
                  </span>
                My Speech Proposals
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>