{% include "blocks/admin_top.html" %}
<div class="row">
{% include "blocks/navigation.html" %}

  <div class="col-9 px-md-4">
    <div class="row text-start">
      <div class="col">
        <h1 class="h2">{{pageName}}</h1>
      </div>
      {% if form_data %}
      <div class="col text-end">
        <form method="post" action="/events/search">
          <label for="search_date"><b>Date Filter:</b> </label>
          <input type="date" name="search_date" value="{%- if 'search_date' in form_data -%}
            {{ form_data.search_date }}
            {%- endif -%}" />
          <button class="btn btn-primary">Search</button>
        </form>
      </div>
      {% endif %}
    </div>
    <div class="row">
      {% if current_user.user_roles == 'NTSS_ADMIN' %}
        <p>We don't have any {{ controller_type }}{% if form_data and 'search_date' in form_data %}
           for {{ form_data.search_date }}
          {% else %},{%- endif -%} <a href="/{{ controller_type }}/add">add one</a></p>
      
      {% elif current_user.user_roles == 'EVENT_STAFF' %}
        <p>You have not created any {{ controller_type }}, <a href="/events/add">create {{ controller_type }}</a></p>

      {% endif %}
    </div>
  </div>
</div>
{% include "blocks/admin_bottom.html" %}