{% include "blocks/admin_header.html" %}
<body class="text-center">
    <main class="container-fluid">
        <div  class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                <div class="d-flex align-items-center text-left mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                    <span class="fs-4">NTSS</span>
                </div>
                <div class="d-flex flex-row-reverse align-items-center text-dark">
                    <span class="fs-4">INVOICE</span>
                </div>
            </header>