<div class="row g-3">
    <div class="col-md-5 col-lg-4 order-md-last">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted" _msttexthash="201227" _msthash="3" style="direction: ltr; text-align: left;">Shopping Cart</span>
        <span class="badge bg-secondary rounded-pill" _msttexthash="4641" _msthash="4" style="direction: ltr;">3</span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-sm">
          <div style="direction: ltr; text-align: left;">
            <h6 class="my-0" _msttexthash="175006" _msthash="5" style="direction: ltr; text-align: left;">Product Name</h6>
            <small class="text-muted" _msttexthash="321607" _msthash="6">Brief description</small>
          </div>
          <span class="text-muted" _msttexthash="14222" _msthash="7" style="direction: ltr; text-align: left;">$12</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-sm">
          <div style="direction: ltr; text-align: left;">
            <h6 class="my-0" _msttexthash="235196" _msthash="8">Second product</h6>
            <small class="text-muted" _msttexthash="321607" _msthash="9">Brief description</small>
          </div>
          <span class="text-muted" _msttexthash="9100" _msthash="10" style="direction: ltr; text-align: left;">$8</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-sm">
          <div style="direction: ltr; text-align: left;">
            <h6 class="my-0" _msttexthash="135486" _msthash="11">Third item</h6>
            <small class="text-muted" _msttexthash="321607" _msthash="12">Brief description</small>
          </div>
          <span class="text-muted" _msttexthash="8788" _msthash="13" style="direction: ltr; text-align: left;">$5</span>
        </li>
        <li class="list-group-item d-flex justify-content-between bg-light">
          <div class="text-success" style="direction: ltr; text-align: left;">
            <h6 class="my-0" _msttexthash="134264" _msthash="14" style="direction: ltr; text-align: left;">Promo code</h6>
            <small _msttexthash="124995" _msthash="15">EXAMPLECODE</small>
          </div>
          <span class="text-success" _msttexthash="14040" _msthash="16" style="direction: ltr; text-align: left;">- $5</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span _msttexthash="118313" _msthash="17" style="direction: ltr; text-align: left;">Total (USD)</span>
          <strong _msttexthash="14092" _msthash="18" style="direction: ltr; text-align: left;">$20</strong>
        </li>
      </ul>

      <form class="card p-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Promo code" _mstplaceholder="2052960" _msthash="19" style="direction: ltr; text-align: left;">
          <button type="submit" class="btn btn-secondary" _msttexthash="56901" _msthash="20" style="direction: ltr;">Check</button>
        </div>
      </form>
    </div>
    <div class="col-md-7 col-lg-8">
      <h4 class="mb-3" _msttexthash="258271" _msthash="21" style="direction: ltr; text-align: left;">Billing address</h4>
      <form class="needs-validation" novalidate="">
        <div class="row g-3">
          <div class="col-sm-6">
            <label for="firstName" class="form-label" _msttexthash="130260" _msthash="22" style="direction: ltr; text-align: left;">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
            <div class="invalid-feedback" _msttexthash="6300827" _msthidden="1" _msthash="23">
              Please enter a valid first name.
            </div>
          <div class="col-sm-6">
            <label for="lastName" class="form-label" _msttexthash="108628" _msthash="24" style="direction: ltr; text-align: left;">Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
            <div class="invalid-feedback" _msttexthash="7386340" _msthidden="1" _msthash="25">
              Please enter a valid last name.
            </div>
          </div>

          <div class="col-12">
            <label for="email" class="form-label" _msttexthash="261404" _msthash="29" style="direction: ltr; text-align: left;">Email <span class="text-muted"></span></label>
            <div class="input-group has-validation">
                <input type="email" class="form-control" id="email" placeholder="you@example.com" required="" _mstplaceholder="274417" _msthash="30" style="text-align: left;">
            </div>
            <div class="invalid-feedback" _msttexthash="30316845" _msthidden="1" _msthash="31">
                Your email is required.
            </div>
          </div>

          <div class="col-12">
            <label for="address" class="form-label" _msttexthash="94653" _msthash="32" style="direction: ltr; text-align: left;">Address</label>
            <input type="text" class="form-control" id="address" placeholder="1234 First Street" required="" _mstplaceholder="3660696" _msthash="33" style="direction: ltr; text-align: left;">
            <div class="invalid-feedback" _msttexthash="10498332" _msthidden="1" _msthash="34">
              Please enter your shipping address
            </div>
          </div>

          <div class="col-12">
            <label for="address2" class="form-label" _msttexthash="284128" _msthash="35" style="direction: ltr; text-align: left;">Title 2 <span class="text-muted">(optional)</span></label>
            <input type="text" class="form-control" id="address2" placeholder="Apartment 24" _mstplaceholder="509561" _msthash="36" style="direction: ltr; text-align: left;">
          </div>

          <div class="col-md-5">
            <label for="country" class="form-label" _msttexthash="100451" _msthash="37" style="direction: ltr; text-align: left;">Country</label>
            <select class="form-select" id="country" required="">
              <option value="" _msttexthash="720057" _msthash="38" style="direction: ltr; text-align: left;">Choose...</option>
              <option _msttexthash="9182030" _msthash="39" style="direction: ltr; text-align: left;">United States</option>
            </select>
            <div class="invalid-feedback" _msttexthash="5280821" _msthidden="1" _msthash="40">
                Please choose a valid country.
            </div>
          </div>

          <div class="col-md-4">
            <label for="state" class="form-label" _msttexthash="76700" _msthash="41" style="direction: ltr; text-align: left;">Region</label>
            <select class="form-select" id="state" required="">
              <option value="" _msttexthash="720057" _msthash="42" style="direction: ltr; text-align: left;">Choose...</option>
              <option _msttexthash="2388139" _msthash="43" style="direction: ltr; text-align: left;">California</option>
            </select>
            <div class="invalid-feedback" _msttexthash="7980297" _msthidden="1" _msthash="44">
              Please choose a valid Region.
            </div>
          </div>

          <div class="col-md-3">
            <label for="zip" class="form-label" _msttexthash="93626" _msthash="45" style="direction: ltr; text-align: left;">Zip code</label>
            <input type="text" class="form-control" id="zip" placeholder="" required="">
            <div class="invalid-feedback" _msttexthash="5298631" _msthidden="1" _msthash="46">
              Zip code is required.
            </div>
          </div>
        </div>

        <hr class="my-4">

        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="same-address">
          <label class="form-check-label" for="same-address" _msttexthash="1809470" _msthash="47" style="direction: ltr; text-align: left;">The shipping address is the same as my billing address</label>
        </div>

        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="save-info">
          <label class="form-check-label" for="save-info" _msttexthash="762138" _msthash="48" style="direction: ltr; text-align: left;">Save this information next time</label>
        </div>

        <hr class="my-4">

        <h4 class="mb-3" _msttexthash="228397" _msthash="49" style="direction: ltr; text-align: left;">Payment Method</h4>

        <div class="my-3">
          <div class="form-check">
            <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked="" required="">
            <label class="form-check-label" for="credit" _msttexthash="153296" _msthash="50" style="direction: ltr; text-align: left;">Credit card</label>
          </div>
          <div class="form-check">
            <input id="cash" name="paymentMethod" type="radio" class="form-check-input" required="">
            <label class="form-check-label" for="cash" _msttexthash="46072" _msthash="51" style="direction: ltr; text-align: left;">cash</label>
          </div>
          <div class="form-check">
            <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required="">
            <label class="form-check-label" for="paypal" _msttexthash="72644" _msthash="52" style="direction: ltr; text-align: left;">PayPal</label>
          </div>
        </div>

        <div class="row gy-3">
          <div class="col-md-6" style="direction: ltr; text-align: left;">
            <label for="cc-name" class="form-label" _msttexthash="153517" _msthash="53" style="direction: ltr; text-align: left;">Name on card</label>
            <input type="text" class="form-control" id="cc-name" placeholder="" required="">
            <small class="text-muted" _msttexthash="787631" _msthash="54">Full name as displayed on the card</small>
            <div class="invalid-feedback" _msttexthash="6830551" _msthidden="1" _msthash="55">
              Name on card is required.  
            </div>
          <div data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div></div>

          <div class="col-md-6">
            <label for="cc-number" class="form-label" _msttexthash="151593" _msthash="56" style="direction: ltr; text-align: left;">Card Number</label>
            <input type="text" class="form-control" id="cc-number" placeholder="" required="">
            <div class="invalid-feedback" _msttexthash="7382245" _msthidden="1" _msthash="57">
                Credit card number is required.
            </div>
          </div>

          <div class="col-md-3">
            <label for="cc-expiration" class="form-label" _msttexthash="259896" _msthash="58" style="direction: ltr; text-align: left;">Expiration date</label>
            <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
            <div class="invalid-feedback" _msttexthash="9179820" _msthidden="1" _msthash="59">
                Expiration date required
            </div>
          </div>

          <div class="col-md-3">
            <label for="cc-cvv" class="form-label" _msttexthash="228891" _msthash="60" style="direction: ltr; text-align: left;">Triple Code (CVV)</label>
            <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
            <div class="invalid-feedback" _msttexthash="4348851" _msthidden="1" _msthash="61">
                Security code required
            </div>
          </div>
        </div>

        <hr class="my-4">

        <button class="w-100 btn btn-primary btn-lg" type="submit" _msttexthash="238966" _msthash="62" style="direction: ltr;">Continue to pay</button>
      </form>
    </div>
  </div>