<div class="row">
    <div class="col-2">
      <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 100%;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
          <span class="fs-4">Navigation</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
              <span class="material-symbols-outlined">home</span>
              Home
            </a>
          </li>
          <li>
            <a href="#" class="nav-link link-dark">
              Events
            </a>
          </li>
        </ul>
      </div>
  </div>